{# Renderizamos un campo #}

{% macro render_field(field) %}

<tp> {{field.label}} </tp>          {# Aquí renderizamos el campo #}
<dp> {{field(**kwargs)|safe}} </dp> {# Le pasamos un diccionario de argumentos a field y lo mostramos como html con |safe #}


    {# Preguntamos si el campo tiene errores #}
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
            <li>
                {{ error }}           {# Imprimimos el error #}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}