{% extends 'base/base3.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}

    {% from "_macro2.html" import render_field %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <br>
                <br>

                <form id="login-form" method="POST"> {# Mostramos con forma de formulario nuestros campos #}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>{{render_field(form.username, class='form-control')}}</p>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>{{render_field(form.email,class='form-control') }}</p>           {# form-control es una clase que agregamos y que hace que la barra sea mas grande y que se ponga el titulo del campo arriba en vez de a la izq. #}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>{{render_field(form.comment,class='form-control') }}</p>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                </form>

                {# Añadimos el boton de Send(físico) #}
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Send</button>         {# Al poner type="submit" hacemos que este botón entregue el contenido del formulario al servidor #}
                    </div>
                </div>

            </div>
      </div>
  </div>

<hr>

{% endblock %}